button.navbar-toggler {
  box-shadow: none;
  border: none;
}

@media (max-width: 991px) {
  section {
    padding: 30px 0;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
  }

  ul.navbar-nav.menu-navbar-nav {
    gap: 2rem;
    background-color: #2b2929;
    padding-bottom: 15px;
  }

  .header_wrapper .navbar-item .nav-link {
    margin-top: 15px;
  }

  .banner-wrapper {
    padding: 200px 0;
  }

  .about_wrapper ul.nav-pills {
    width: 334px;
    margin: auto !important;
  }

  .portfolio_wrapper .card {
    min-height: 400px;
  }
  ul.text-start.ps-0 {
    margin-top: 2rem;
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 13px;
    line-height: 24px;
  }
  /* navbar */

  .header-scrollbar {
    height: auto;
  }

  ul.navbar-nav.menu-navbar-nav {
    gap: 2rem;
    background-color: #2b2929;
  }

  .about_wrapper ul.nav-pills {
    width: 271px !important;
    margin: auto !important;
  }
  .about_wrapper ul li .nav-link {
    font-size: 11px;
  }

  .portfolio_wrapper .card {
    min-height: 500px;
  }

  ul.text-start.ps-0 {
    margin-top: 2rem;
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  .about_wrapper ul.nav-pills {
    width: 271px !important;
    margin: auto !important;
  }

  ul.text-start.ps-0 {
    margin-top: 2rem;
    text-align: center !important;
  }

  img.img-fluid.contact-img {
    display: none;
  }
}

@media (max-width: 480px) {
  section#services {
    padding: 0rem 8rem;
    display: flex;
    justify-content: center;
  }

  .about_wrapper ul.nav-pills {
    width: 100% !important;
    margin: auto !important;
    border: none;
    padding-bottom: 40px;
    gap: 5px;
  }

  .row.justify-content-between.align-content-center.contact {
    display: flex;
    flex-direction: column-reverse;
  }

  ul.text-start.ps-0 {
    margin-top: 2rem;
    text-align: center !important;
  }

  img.img-fluid.contact-img {
    display: none;
  }

  .col-lg-5.mb-4.mb-lg-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img.img-fluid.rounded-3 {
    /* height: 21rem; */
    width: 100%;
  }
}
